<!-- <head>
<script type="text/javascript" src="\assets\slider.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      
               
        var t1 ;
        var t2 ;
        var a ;
        var T ;
      var options = {
          legend: 'none',
          hAxis: { title: 'f(t)', minValue: 0, maxValue: 20 },
          vAxis: {
        title: "V(volt)"
        },
          colors: ['#3A81BF'],
          pointSize: 1,
          pointShape: 'square'
       };

       var options2 = {

          hAxis: { title: 'F', minValue: -.0001, maxValue: .0001 ,gridlines: {color: 'transparent'}},
          vAxis: {
        title: "A(n)" , minValue: -1, maxValue: 1 

        },
          colors: ['#C10B0B'],
          lineWidth: 3
       };

      function drawChart() {
        var data = google.visualization.arrayToDataTable
            ([['X', 'f(t)'],
              [0, 1],
              [2, 1],
              [2, -1],
              [4, -1],
              [4, 0]
        ]);
            var data2 = google.visualization.arrayToDataTable
            ([['X', 'F'],
              [0, 0],
              [0, 6]
        ]);
           
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);

         var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
        chart2.draw(data2, options2);
    }

       
    function changechart(t1,t2,a) {

         t1 = parseInt(t1)
         t2 = parseInt(t2)
         a = parseInt(a)
         T = t1 + t2

        var data = google.visualization.arrayToDataTable
             ([['X', 'f(t)'],
              [0, a],
              [t1, a],
              [t1, -a],
              [t1+t2, -a],
              [t1+t2, 0]
            
        ]);


              for (var i = 0; i < 3; i++) {
                 data.addRows([
              [T, a],
              [T+t1, a],
              [T+t1, -a],
              [T+t1+t2, -a],
              [T+t1+t2, 0],
                  ]);
                 T = T+t1+t2 ;
              // more statements
          }
        
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    function changef(t1,t2,a,n) {

        var n = parseInt(n);
        var ano = (2*a)/Math.PI;
        var fno = 1/(t1+t2);
        var data2 = google.visualization.arrayToDataTable
             ([['X', 'F'],
              [0, 0],
              [0, ano],
         ]);

              for (var i = 1; i <= n; i++) {
            data2.addRows([
              [i*fno, 4*a/(2*i+1)*Math.PI],
              [i*fno, 4*a/(2*i+1)*Math.PI],
              [-i*fno, 4*a/(2*i+1)*Math.PI],
              [-i*fno, 4*a/(2*i+1)*Math.PI],
            
                  ]);
              //more statements 4*a/(2*n*Math.pi)

         }

       var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
        chart2.draw(data2, options2);
        }

    $(document).ready(function(){

    $("#bootstrap-slider-t1").slider();
    $("#bootstrap-slider-t2").slider();
    $("#bootstrap-slider-A").slider();
    $("#bootstrap-slider-N").slider();
    
    $("#bootstrap-slider-t1").on("slide", function(slideEvt) {
      changechart(slideEvt.value,$('#bootstrap-slider-t2').val(),$('#bootstrap-slider-A').val())
    $("#sliderValue-t1").text(slideEvt.value);
  });
    $("#bootstrap-slider-t2").on("slide", function(slideEvt) {
      changechart($('#bootstrap-slider-t1').val(),slideEvt.value,$('#bootstrap-slider-A').val())
    $("#sliderValue-t2").text(slideEvt.value);
  });
    $("#bootstrap-slider-A").on("slide", function(slideEvt) {
      changechart($('#bootstrap-slider-A').val(),$('#bootstrap-slider-t2').val(),slideEvt.value)
    $("#sliderValue-A").text(slideEvt.value);
  });
    $("#bootstrap-slider-N").on("slide", function(slideEvt) {
      changef($('#bootstrap-slider-t1').val(),$('#bootstrap-slider-t2').val(),$('#bootstrap-slider-A').val(),slideEvt.value);
      
    $("#sliderValue-N").text(slideEvt.value);
  });
  
   $('.slider').on("click", function() {
      // var newvalue = $('.tooltip-inner').text();
      changechart($('#bootstrap-slider-t1').val(),$('#bootstrap-slider-t2').val(),$('#bootstrap-slider-A').val())
    $("#sliderValue-t1").text($('#bootstrap-slider-t1').val());
    $("#sliderValue-t2").text($('#bootstrap-slider-t2').val());
    $("#sliderValue-A").text($('#bootstrap-slider-A').val());
    $("#sliderValue-N").text($('#bootstrap-slider-N').val());
  });

});

    </script>
  </head>
  <body>


    <div class="container">
      <div class="row">
      <div class="col-xs-6">
        <div id="chart_div" style="width: 600px; height: 500px;"></div>

      </div>
      <div class="col-xs-6">
       <div id="chart_div2" style="width: 600px; height: 500px;"></div>
      </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
        
        <div class="button-slider">
          <div class="btn-group">
          <div class="btn btn-default">T1</div>
          <div class="btn btn-default">
          <input id="bootstrap-slider-t1" type="text" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="10"/>
          <div class="valueLabel">T1 is<span id="sliderValue-t1">10</span></div>
          </div>
          </div>
        </div>
        <br></br>
 
       <div class="button-slider">
            <div class="btn-group">
            <div class="btn btn-default">T2</div>
            <div class="btn btn-default">
            <input id="bootstrap-slider-t2" type="text" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="10"/>
            <div class="valueLabel">T2 is<span id="sliderValue-t2">10</span></div>
          </div>
         </div>
     </div>
    <br></br>

        
          <div class="button-slider">
          <div class="btn-group">
          <div class="btn btn-default">A</div>
          <div class="btn btn-default">
            <input id="bootstrap-slider-A" type="text" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="10"/>
            <div class="valueLabel">A is<span id="sliderValue-A">10</span></div>
          </div>
          </div>
          </div>
          </div>
        <br></br>

        <div class="col-xs-6">
          <div class="button-slider">
          <div class="btn-group">
          <div class="btn btn-default">N</div>
          <div class="btn btn-default">
          <input id="bootstrap-slider-N" type="text" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="10"/>
          <div class="valueLabel-N">N is<span id="sliderValue">10</span></div>
        </div>
      </div>
    </div>
        </div>
      </div>
</div>
    
  </body>
</html>
<p id="notice"><%= notice %></p>


<!-- <canvas id="mycanvas" width="400" height="100"></canvas>
<!-- <script type="text/javascript" src="\assets\smoothie.js"></script>
<script type="text/javascript" src="\assets\index.js"></script>
 --> -->

<head>
<!--   <link rel="stylesheet" type="text/css" href="\assets\first.css"></link> -->
<!-- <script type="text/javascript" src="\assets\slider.js"></script> -->
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!-- <script type="text/javascript" src="\assets\first.js"></script>
</head> -->

 
 <body> 
<!-- <canvas id="mycanvas" width="400" height="100"></canvas>
<!-- <script type="text/javascript" src="\assets\smoothie.js"></script>
<script type="text/javascript" src="\assets\index.js"></script>
 -->
 <div class="container">
    
    <ul class="timeline">
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <div id="chart_div" ></div>
            </div>
            <div class="timeline-body">
                <div class="button-slider" style="margin-bottom: 4%;">
                    <div class="btn-group">
                          <div class="btn btn-default">T1</div>
                          <div class="btn btn-default">
                          <input id="bootstrap-slider-t1" type="text" value="3" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="3"/>
                          <div class="valueLabel">T1 is<span id="sliderValue-t1">3</span></div>
                    </div>
                </div>
            </div>
            
            <div class="button-slider" style="margin-bottom: 4%;">
                <div class="btn-group">
                <div class="btn btn-default">T2</div>
                <div class="btn btn-default">
                <input id="bootstrap-slider-t2" type="text" value="5" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="5"/>
                <div class="valueLabel">T2 is<span id="sliderValue-t2">3</span></div>
          </div>
         </div>
     </div>
   
    <div class="button-slider">
          <div class="btn-group">
          <div class="btn btn-default">A</div>
          <div class="btn btn-default">
            <input id="bootstrap-slider-A" type="text" value="9" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="9"/>
            <div class="valueLabel">A is<span id="sliderValue-A">3</span></div>
          </div>
          </div>
          </div>

            </div>
          </div>
        </li>
        <li >
         
          <div class="timeline-panel">
            <div class="timeline-heading">
               <div id="chart_div2" ></div>
            </div>
            <div class="timeline-body">
             <div class="button-slider">
                  <div class="btn-group">
                  <div class="btn btn-default">N</div>
                  <div class="btn btn-default">
                  <input id="bootstrap-slider-N" type="text" value="10" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="10"/>
                  <div class="valueLabel">N is<span id="sliderValue-N">10</span></div>
                    </div>
                  </div>
            </div>
            </div>
          </div>
          <div class="timeline-panel" style="margin-left: 2%;">
            <div class="timeline-heading">
              <div id="chart3" ></div>
            </div>
            <div class="timeline-body">
            </div>
          </div>
        </li>

      
       
    </ul>
</div>


</body>
