
<!-- <link rel="stylesheet" type="text/css" href="\assets\first.css.erb">
<script type="text/javascript" src="\assets\slider.js.erb"></script> -->
<!-- <link rel="stylesheet" type="text/css" href="\assets\powerange.css"> -->
<head>

</head>
<!-- <script type="text/javascript" src="/assets/first.js.erb"></script>
 -->
<!-- <canvas id="mycanvas" width="400" height="100"></canvas>
<! <script type="text/javascript" src="\assets\smoothie.js"></script>
<script type="text/javascript" src="\assets\index.js"></script>
 -->

    <div class="page-header">
        <h1 id="timeline">Oscillating Magnet Energy Harvester</h1>
        
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
               
            </div>
            <div class="timeline-body">
             <div class="slider-wrapper">
            <input type="text" class="js-t1" />
            <label class="display-box-label">T1(sec):</label>
            <div id="js-display-t1" class="display-box"></div>
            </div>

            <div class="slider-wrapper">
                <input type="text" class="js-t2" />
                <label class="display-box-label">T2(sec):</label>
                <div id="js-display-t2" class="display-box"></div>
            </div>

            </div>
          </div>
          <div class="timeline-panel" style="margin-left: 2%;">
            <div class="timeline-heading">
               <select class="btn btn-info" id="select_chart"  >
                  <option value="1">Squre</option>
                  <option value="2">Tri</option>
                </select>
            </div>
            <div class="timeline-body">
            </div>
          </div>
        </li>
        <li >
          <div class="timeline-panel">
            <div class="timeline-heading">
            
            </div>
            <div class="timeline-body">
            
            </div>
          </div>
          <div class="timeline-panel" style="margin-left: 2%;">
            <div class="timeline-heading">
              <div id="chart3" ></div>
            </div>
            <div class="timeline-body">
            </div>
          </div>
        </li>    
    </ul>


